<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    @*<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>*@
    <script src="~/Contents/js/jquery-3.3.1.min.js"></script>
    <script src="~/Contents/js/framework.ui.js"></script>
    <script src="~/Contents/js/jquery.form.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="~/Contents/common.css" rel="stylesheet" />
    <link href="~/Contents/layout.css" rel="stylesheet" />

    <!--pgy-->
    <script src="~/Contents/js/xuanran/pgy.js"></script>
    <link href="~/Contents/css/Notes/pgy.css" rel="stylesheet" />
    <!--左下 滚动js-->
    <script src="~/Contents/js/xuanran/aq_updown.min.js"></script>
    <script src="~/Contents/js/xuanran/ScrollTo.min.js"></script>
    <link href="~/Contents/css/xuanran/aq_updown.css" rel="stylesheet" />

    <!--重构 alert-->
    <link href="~/Contents/js/resetalert/window.css" rel="stylesheet" />
    <script src="~/Contents/js/resetalert/window.js"></script>

    <!--日历插件-->
    <link href="~/Contents/js/datetimepicker/jquery.datetimepicker.css" rel="stylesheet" />
    <script src="~/Contents/js/datetimepicker/jquery.js"></script>
    <script src="~/Contents/js/datetimepicker/jquery.datetimepicker.js"></script>
    <style>
        .xdsoft_datetimepicker.xdsoft_inline {
            background: url(/Contents/images/login/bg101.jpg) no-repeat;
        }
    </style>
</head>
<body>
    <div class="aq_home">
        <div id="#wrap" class="aq_container">
            <div class="aq_nav">
                <img src="/Contents/images/logo/axq3.png" />
                <label>
                    @(string.IsNullOrWhiteSpace(ViewBag.user) ? "夏秋" : ViewBag.user)的博客
                </label>
            </div>
           
            <!--头部 top-->
            <div class="aq_top">
                <ul style="font-size:small;">
                    <li><a href="/Home/Index">首页</a></li>
                    <li><a href="/Blog/Blog/BlogCenter">手札</a></li>
                    <li><a href="/Diary/Diary/Index">日记</a></li>
                    <li><a href="/Diary/Setting/BlogSetting/">管理</a></li>
                    <li><a href="/Category/Category/Index">分类</a></li>
                    @*<li><a href="/Product/Product/Index">关于</a></li>*@
                </ul>
            </div>
            <!--头部 end-->
            <!--主体 main-->
            <section class="aq_main" id="aq_main">
                @RenderBody()
            </section>
            @*<div class="aq_main" id="aq_main">

                </div>*@
            <!--主体-->
        </div>
        <div class="aq_pendant">
            @*@{
                    var random = new Random();
                    var num = random.Next(0, 2);
                }

                @if (string.IsNullOrWhiteSpace(ViewBag.user))
                {
                    if (num > 0)
                    {
                        <strong><a href="/Login/Index" va="@num">登录</a></strong>
                    }
                    else
                    {
                        <strong><a href="/Login/Index2" va="@num">登录</a></strong>
                    }
                    <strong>
                        |  <a>注册</a>
                    </strong>
                }
                else
                {
                    <strong>
                        @ViewBag.user,欢迎你！|<a href="/Login/Loginout">注销</a>
                    </strong>
                }*@
            <table id="datetimepicker"></table>
        </div>
    </div>

    <!--右下插件 上下跳转 aq_updown-->
    <div id="aq_updown">
        <div id="aq_up"></div>
        <div id="aq_imain"></div>
        <div id="aq_down"></div>
    </div>
    <!-----右下插件 end----->
    <!--底部 footer-->
    <div id="footer" class="bottom">
        <!--左下蒲公英-->
        <div class="dandelion" title="管理">
            <a href="/Blog/Blog/BlogCenter">
                <span class="smalldan"></span>
                <span class="bigdan"></span>
            </a>
        </div>
        <!--版本号-->
        <div class="bottom_lab" id="aq_bottom">
            <label>版本@@ 2018</label>
        </div>
    </div>
    <!----底部 end timepicker: false, format: 'Y-m-d'---->
    @*<script>
            $("#datetimepicker").datetimepicker({ inline: true, timepicker: false, format: 'Y-m-d' });
            $.datetimepicker.setLocale('ch');
        </script>*@
</body>
</html>
<!--版权声明：部分素材源于网上,如有侵权，请告知！-->