@model List<XmTest.Data.Entity.Notes>
@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@if (Model != null && Model.Count > 0)
{
    foreach (var item in Model)
    {
        <div class="note">
            <h4 class="align">@item.Title</h4>
            <h5 class="align_rg">——千千阙歌，照亮我的心灵！</h5>
            <div class="note_Content">
                @(new HtmlString(item.Content))
                <a href="/Category/Category/Detail?NoteID=@item.Id">加载更多..</a>
            </div>
            <div>
                <div class="align_rg">
                    <span>@item.UpdateTime.ToString("yyyy-MM-dd HH:mm")</span> <span>赞(@item.ThumbUpCount)</span><span>踩(@item.DownCount)</span><span>评论(@item.Viewed)</span>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="note">暂无任何内容 !</div>
}

